
.editor-screen{
    height:calc(100vh - 190px);
}
.chat-box-container{
    padding: 30px 40px;
    display:flex;
    column-gap: 20px;
}


.chat-container h2 {
    margin-top: 0;
    color: #333;
}

.chat-input {
    border: none;
    border-radius: 5px;
    width: calc(100% - 50px);
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.chat-input:focus {
    outline: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.send-button {
    cursor: pointer;
    width: 150px;
    margin-bottom: 20px;
    margin-top:20px;
}

.send-button:hover {

}